<!DOCTYPE html>
<html>
    <head>
        <title>USAG Humphreys Taxi Party</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>USAG Humphreys Taxi Party</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/moblie_mystyle.css' %}">
    </head>
    <body>
        <h1>USAG Humphreys Taxi Party</h1>
        {% include 'navbar.html' %}
        <div>
            {% block content %}
    
            {% endblock %}
        </div>
    </body>
</html>