{% extends 'base.html' %}

{% block content %}
<h1>Log into USAG Humphreys Taxi Party Service</h1>
<br/>

{% for message in messages %}
    <div class="alert alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<form method="POST"> {% csrf_token %}
    {{ form.as_p}}
<input type='submit' value='Save'/>
</form>

{% endblock %}