{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="home-title">Log in to Join Taxi Parties!</h1>
    <br>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for message in messages %}
            <div class="alert alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <div class="login-container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="sec-button">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Close the alert when the close button is clicked
    document.querySelectorAll('.alert .close').forEach(function(button) {
        button.addEventListener('click', function() {
            button.parentElement.style.display = 'none';
        });
    });
</script>
{% endblock %}
