{% extends 'base.html' %}

{% block content %}
<h1 class="home-title">Signup</h1>
<div class="login-container">
    <div style="justify-content:space-between">
        <form method="POST"> {% csrf_token %}
            
            {{ form.as_p }}

            <div class="calendar_button_container" style="justify-content: space-around;">
                <button class="sec-button" type="submit">Signup</button>
                <div class="sec-button">
                    <a href="{% url 'user:login' %}">Already have account?</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}