body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

button {
    height: 40%;
    width: 150px;
    border: none;
}

th, td {
    border: 2px solid #ddd;
    /* padding: 8px; */
    text-align: center;
    font-size: smaller;
}

th {
    background-color: #f2f2f2;
    width: 13%;
}

td {
    height: 150px;
    width: 14.2857%;
}

.month-selector {
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}


li {
    display: inline-block;
    margin-right: 20px;
}


.day_cell {
    height: auto;
}

.day_cell:hover {
    background-color: #ddd;
}

.content_cell {
    background-color: rgb(230, 242, 247);
    color: black
}

.content_cell:hover {
    background-color: rgb(230, 255, 255);
}

.n_day_cell {
    height: auto;
    color: rgb(165, 165, 165);
}

.n_day_cell:hover {
    height: auto;
    color: rgb(140, 140, 140);
}


.p_day_cell {
    height: auto;
    color: rgb(165, 165, 165);
}

.calendar_anchor {
    text-decoration: none !important;
    text-decoration-color: inherit;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px

}

.calendar_anchor:hover {
    color: inherit !important
}

a {
    text-decoration: none !important;
    color: inherit;
}

  #currentMonthYear {
    font-size: 55px;
    background-color: antiquewhite;
}