<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USAG Humphreys Taxi Party</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>





    
</head>
<body>
    {% if mobile %}
        <link rel="stylesheet" href="{% static 'css/mobile_mystyle.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    {% endif %}

    {% include 'navbar.html' with request=request %}
    <div class="main-container">
        {% block content %}
            <!-- Your content goes here -->
        {% endblock %}
    </div>

</body>
</html>