<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USAG Humphreys Taxi Party</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

</head>
<body>
    
    {% include 'navbar.html' with request=request%}
    <div class="main-container">
        {% block content %}
            <!-- Your content goes here -->
        {% endblock %}
    </div>

</body>
</html>