{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<script src="static/js/viewparty.js" type="text/javascript"></script> 
<script src="static/js/calenderjs.js" type="text/javascript"></script> 

<body>
    <div class="container mt-4">
        
        <div class="month-selector">
            <button onclick="prevMonth()">Previous Month</button>
            <span id="currentMonthYear">txt</span>
            <button onclick="nextMonth()">Next Month</button>
        </div>
        
        <table id="calendar">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

</body>

{% endblock %}
