{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="home-title">Create New Location</h1>
    <hr>
    
    <div class="login-container">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="sec-button">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
