{% extends 'base.html' %}

{% block content %}

<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/js/viewparty.js"></script>
    <script src="/static/js/calenderjs.js" type="text/javascript"></script> 
</head>

<h1 class="home-title">Taxi Party Calendar</h1>
<hr>
<div class="homepage-container">

    {% include 'mobile_calendar.html' %}
    
    <div class="partyList_container">
        <h2 style="text-align: center; width: 100%;" id="partyListTitle">  </h2>
        <div class="partyList" id="partyList">

        </div>
    </div>
</div>
{% endblock %}
