{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<script src="static/js/viewparty.js" type="text/javascript"></script>
<script src="static/js/calenderjs_mobile.js" type="text/javascript"></script>


<body>
    <div class="container" style="max-width:100%;">
     

            <div class="month-selector">
                <span class="calendar_month" id="currentMonthYear">Month</span>
                <div class="calendar_button_container">
                    <button class="month_button" onclick="prevMonth()">Previous Month</button>
                    <div class="month_button_filler"></div>

                    <button class="month_button" onclick="nextMonth()">Next Month</button>
                </div>
            </div>
    
            <table id="calendar">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    <div>
</body>

<script>
    window.onload = function() {
        get_monthinfo(0, 0, updateCalendar);
    };
</script>
{% endblock %}
