<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>
<nav class="navbar navbar-expand-lg" style=" color: #433E49; background-color: #F3E8EB;">
    <div class="container" style="display: flex; flex-direction: column;"> 
        <a class="navbar-brand" href="{% url 'taxiparty:home' %}">USAG Humphreys Taxi Party</a>

        <div class="navbar-nav mx-auto" style="display: flex; flex-direction: row; text-align: center; justify-content: center;">
            {% if request.user.is_authenticated %}
            <div style="flex: 1; flex-direction: column;">
                <p style="text-align: center; color: white; margin-bottom: 0%;">Welcome {{ request.user.username }}!</p>
                <div >
                    <a class="nav-link" style="padding-top: 0;" href="{% url 'user:logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'user:signup' %}">Signup</a>
                </div>
                {% endif %}
                
            {% if mobile %}
                <button onclick="myFunction()" class="dropbtn"> Menu</button>
            {% endif %}
            </div>
        {% if mobile %}
        <div id="myDropdown" class="dropdown-content">
          <a href="{% url 'taxiparty:createtaxiparty' %}">Create Taxi Party</a>
          <a href="{% url 'taxiparty:viewlocation' %}">View Humphreys Locations</a>
          <a href="{% url 'taxiparty:createlocation' %}">Create USAG Humphreys Locations</a>
          <a href="{% url 'taxiparty:myparty' %}">View My Taxi Parties</a>
        </div>
        {% else %}
        <div class="navbar-menu">
            <div class="navbar-menu-item">
                <a href="{% url 'taxiparty:createtaxiparty' %}">Create Taxi Party</a>
            </div>
            <div class="navbar-menu-item">
                <a href="{% url 'taxiparty:viewlocation' %}">View Humphreys Locations</a>
            </div>
            <div class="navbar-menu-item">
                <a href="{% url 'taxiparty:createlocation' %}">Create USAG Humphreys Locations</a>
            </div>
            <div class="navbar-menu-item">
                <a href="{% url 'taxiparty:myparty' %}">View My Taxi Parties</a>
            </div>
        </div>
        <!-- <ul class="navbar-nav mx-auto" style="text-align: center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'taxiparty:createtaxiparty' %}">Create Taxi Party</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'taxiparty:viewlocation' %}">View Humphreys Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'taxiparty:createlocation' %}">Create USAG Humphreys Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'taxiparty:myparty' %}">View My Taxi Parties</a>
            </li>
        </ul>        -->
        {% endif %}
    </div>
</nav>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }   
    }
</script>