{% extends 'base.html' %}

{% block content %}
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js">
</head>

<script>    
    $(document).ready(function(){
        $("#getButton").click(get_monthinfo); 
    });

    function get_monthinfo(){
        $.ajax({
            type : 'GET',
            url : '/taxiparty/month',
            dataType : 'json',
            success : function(result) {
                alert("received="+result);
                $("#data").html(result)
            },
            error : function(){alert("error")}
        }),
        alert("The request is sent")
    }
</script>

<div class="container mt-4">
    <h1>Taxi Party Home</h1>
    <button id="getButton">Get Month Info</button>
    <h2 id="data"> DATA </h2>
    {% include 'calendar.html' %}

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Taxi Party</h5>
                {% include 'viewtaxiparty.html' with partyList=partyList %}
                
            </div>
        </div>
    </div>

</div>
{% endblock %}
