{% extends 'base.html' %}

{% block content %}
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<script>    
    $(document).ready(function(){
        $("#getButton").click(get_monthinfo); 
    });

    function get_monthinfo() {
    $.ajax({
        type: 'GET',
        url: 'https://psychic-robot-p5xp4g94vpjf745q-8000.app.github.dev/taxiparty/month/2024-04',
        dataType: 'json',
        success: function(result) {
            // Group objects by date
            var groupedData = {};

            result.forEach(function(item) {
                var date = item.date;
                if (!groupedData[date]) {
                    groupedData[date] = [];
                }
                groupedData[date].push(item);
            });

            console.log(groupedData); // Log the grouped data to inspect its structure
            // Display the grouped JSON response in HTML
            $("#data").html("<pre>" + JSON.stringify(groupedData, null, 2) + "</pre>");
        },
        error: function() {
            alert("Error occurred while fetching data.");
        }
    });
}

</script>

<div class="container mt-4">
    <h1>Taxi Party Home</h1>
    <button id="getButton">Get Month Info</button>
    <h2 id="data"> DATA </h2>
    <div id="data"></div>


    {% include 'calendar.html' %}

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Taxi Party</h5>
                {% include 'viewtaxiparty.html' with partyList=partyList %}
                
            </div>
        </div>
    </div>

</div>
{% endblock %}
