{% extends 'base.html' %}

{% block content %}

<div class="container-lg"> <!-- Adjusting the container to container-lg -->
    <div class="row justify-content-center">
        <div class="align-items-center" style="width: 90%;"> <!-- Adjusting the width of the content -->
            <h2 class="home-title">USAG Humphreys Locations</h2>
            <hr>
            <div class="login-container"> <!-- Adjusting the width of the list -->
                {% for location in locationList %}
                    <div class="party-row">
                        {{ location }}
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
</div>




    

{% endblock %}